/* * Variables*/

:root {
  --c-black: #544837;
  --c-white: #ffffff;
  --c-orange: #ff9900;
  --c-dark-blue: #173a56;
  --fs-base: 16;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid lightskyblue; */
}

body {
  font-size: var(--fs-base) px;
  background-color: #fff8f8;
  width: 100%;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--c-black);
}

/* Basic style */
.container {
  max-width: 1064px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--c-dark-blue);
}

.header {
  background-color: var(--c-white);
  z-index: 100;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  margin: 0;
  margin-right: 12px;
}

.logo__text {
  font-weight: 800;
  font-size: 1.75em;
  color: var(--c-dark-blue);
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  margin-right: 50px;
}

.navigation__list {
  display: flex;
  font-size: 0.875em;
}

.navigation__item {
  margin-right: 20px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.authorization {
  display: flex;
}

.authorization__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 46px;
  background-color: var(--c-orange);
  color: var(--c-white);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  padding: 0 20px;
}

.authorization__button--in {
  background-color: var(--c-white);
  border: 1px solid #dddddd;
  margin-right: 15px;
  white-space: nowrap;
  color: var(--c-dark-blue);
}

.authorization___text {
  display: block;
  padding: 0 10px;
}

.design-thinking {
  margin-top: 120px;
  display: flex;
  margin-bottom: 110px;
}

.design-thinking__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image__people {
  max-width: 600px;
}

.block__buttons {
  display: flex;
}

.authorization___video {
  border: none;
}

.block__title {
  width: 100%;
  max-width: 520px;
  font-size: 2.75em;
  line-height: 54px;
  margin-bottom: 30px;
}

.block__text {
  width: 100%;
  max-width: 440px;
  line-height: 28px;
  font-size: 1.125em;
  mr: 60px;
  margin-bottom: 45px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 46px;
  background-color: var(--c-orange);
  color: var(--c-white);
  border-radius: 4px;
  border: none;
  font-weight: 600;
  padding: 0 20px;
  white-space: nowrap;
  margin-right: 30px;
}

.button:last-child {
  margin-right: 0;
}

.button__video-arrow {
  max-width: 20px;
  margin-right: 9px;
}

.button__video {
  background-color: transparent;
  color: var(--c-orange);
  text-decoration: underline;
}

.design-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
}

.design-tools__title {
  max-width: 540px;
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 54px;
  line-height: 54px;
}

.design-tools__block {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}

.design-tools__group {
  /* max-width: 240px; */
  margin-right: 50px;
}

.design-tools__group:last-child {
  margin-right: 0;
}

.tool__icon {
  max-width: 50px;
  margin-bottom: 30px;
}

.tool__title {
  font-weight: 600;
  font-size: 1.375em;
  margin-bottom: 15px;
}

.tool__description {
  line-height: normal;
}

.design-professionals {
  display: flex;
}

.design-professionals__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 26px;
  margin-right: 100px;
}

.design-professionals__block:last-child {
  margin-right: 0;
}

.design-professionals__intro-title {
  margin-bottom: 5px;
}

.design-professionals__title {
  margin-bottom: 20px;
}

.design-professionals__subtitle {
  font-weight: 800;
  margin-bottom: 10px;
}

.design-professionals__description {
  margin-bottom: 30px;
}

/* *Animations */

.animation:hover {
  fill: rgb(16, 97, 97);
}
