.c-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  // min-height: 100vh;
  color: $c-white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 70px;

  &__wrapper {
    @include flexColumn;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    min-height: 100vh;
  }

  &__image {
    z-index: -2;
    height: 100%;
    min-width: 100%;
    @include absolute;
    background-size: cover;
    // overflow: hidden;
  }

  &__title {
    font-size: $fs-h1;
    letter-spacing: 10px;
    margin-bottom: 20px;

    @media (max-width: $bp-tablet) {
      font-size: $fs-h2;
      letter-spacing: 5px;
    }
  }

  &__subtitle {
    font-size: $fs-text;
    letter-spacing: 6px;

    @media (max-width: $bp-tablet) {
      letter-spacing: 3px;
      font-size: $fs-address;
    }
  }

  &__down {
    margin: 0 auto 50px auto;
  }
}
